<!DOCTYPE html>
<html>
<head>
	<title>Vampires Show page</title>
</head>
<body>
	<h1>Vampire Show Page</h1>

  		<h3>Vampire Name: <%= vampires.name %></h3>
  		<h4>Vampire Hair Color: <%= vampires.hair_color %> </h4>
		<h4>Vampire Eye Color: <%= vampires.eye_color %> </h4>
		<h4>Vampire DOB: <%= vampires.dob %> </h4>
		<h4>Vampire Loves: <%= vampires.loves %> </h4>
		<h4>Vampire location: <%= vampires.location %> </h4>
		<h4>Vampire Gender: <%= vampires.gender %> </h4>
		<h4>Vampire Number of Victims: <%= vampires.victims %> </h4>
		
  		
</body>
</html>